In [1]:
import numpy as np

In [2]:
import pandas as pd

In [3]:
datas =  pd.read_table("./data/toutiao_cat_data.txt",sep = "_!_")

/Users/lihaoyang03/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  """Entry point for launching an IPython kernel.

In [4]:
datas.columns = ['新闻id','类别id','新闻类型','新闻标题','新闻关键词']

In [5]:
datas.head()

                  新闻id  类别id          新闻类型                       新闻标题 新闻关键词
0  6552368441838272771   101  news_culture          发酵床的垫料种类有哪些？哪种更好？   NaN
1  6552407965343678723   101  news_culture      上联：黄山黄河黄皮肤黄土高原。怎么对下联？   NaN
2  6552332417753940238   101  news_culture  林徽因什么理由拒绝了徐志摩而选择梁思成为终身伴侣？   NaN
3  6552475601595269390   101  news_culture                   黄杨木是什么树？   NaN
4  6552387648126714125   101  news_culture          上联：草根登上星光道，怎么对下联？   NaN

In [6]:
import jieba as jb

In [7]:
sep_sen = []
for sen in datas["新闻标题"]:
    sep_sen.append(jb.cut(sen))

In [8]:
type(sep_sen)

list

IOPub data rate exceeded.
The notebook server will temporarily stop sending output
to the client in order to avoid crashing it.
To change this limit, set the config variable
`--NotebookApp.iopub_data_rate_limit`.

Current values:
NotebookApp.iopub_data_rate_limit=1000000.0 (bytes/sec)
NotebookApp.rate_limit_window=3.0 (secs)